In [66]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd

In [67]:
data = np.random.randint(0, 100, 1000)
print(data)

[30 25 11 63 50 54 94 57 10 52 54 29  0  8 73 83  5  6 33 63 76 53 80 31
 25  9 77 17 70 46 19 58 69  6 17 15 67 55 89 89 17 95 27 43 53 65 43 12
 66  0 67 90 22 69 13  4 32 31 64 13 24 89 64 90 10 30 83 88 37 10 58 32
 46 50 46 28 75 57 21 51 22 91 26 80 65  2 74 75 53 24 27 35 88 91 38 40
 97 94 40 46 14 19 71 28 29 40 55 90 29 50  0 44 46  4 52 93 78 40 68 99
  3 75 80 83 90 68 77  5 54 18 34 32 17 18 75 23 28 34 84 99 92 40  1 15
 30 59 11 83 87 90 45 78 46  3 18 15 16 42 81 41 22 64 61  1 67 61 52 10
 73 38 47 55 80 24 85  1 90 48 74 20 57 63 92 17 64 78  4 91 29 77 56 72
 42 53 20 69 69 91 15 69  0  4 81  3 16 98 21 44  7  3 57 58 24 88 92 92
 33 25 26 95 65 58 14 66 73 71  3 71  4 22  6 55 85 53 60 67 26 78 93  6
 12 34 67  5 95 47 75 75 11 49 26 12 45 76 28 32 59 20  7 98 81 29 30 75
 85 72 66 57 67 35 47 36 15 13 81 58 31 64 84 27 78 32  4 85 92 22 24 61
  8 55 22  1  3 25 42 93 26 72 10 54 81  0 59 99 39  6 94 82 53 52 43 76
 32 33 94 24  1 61 57 46 31 31  3 72 94 26 35 39  0 85 36 91 82 75  8 79
 61 59 91 28 13 94 73 47 87 76 34 41 10 65 26 45 49 85 62  5 12 46 32 22
 78 90 18 96 72 88 64 47 89 82 81  8 24 26 44 21 60 79 67 79  9 55 80 33
 15 39 59 80 36 90 63  6 60 66 58 29 42 52 32 15 87 62 31 61 90 90  0 85
  7 18 48 45 25 81 11 12 36 24 12 79 69  7 29  9 59 87 65 39 78 43 11 97
 13 30 89 49 39 67 14 51 22  6 77 86 87 40 81 58 97 41 89 23 86 50 90 71
 46 75 33 69 51 15 73 28 70 62 38 61 96 41 37 30 49 44  5 61 41  4 52  4
 24 93 28 30 95 30 95  0 20 76 46 63 37 37 21 17 75 76 50 51  6 86 80 83
 39 34 91 85  6 82 92 31 32 47 20 57 59 97 84 40 15 63 31 19 36 53 54 28
 44 63 38 89 98 36  4 87 34 36 99 64  5 55 82 10  5 40 40 53 38 72 76 38
 95 44 34 52 30  0  0 13 44 19 44  9 85 20 68 54 68 62  6 92 30 50 70 15
 87 22 34 60 39 29 43 81 48 24 93 46 50 12 13 53 53 31 57 63 30 23 57 32
  4 79 28 64 97  2 20  1 45 96 81 86 28 91 98 14 76 91 93 23 31 69 78 76
 49  3  5 84  2 32 50 51 55 60 97  8 83 73 76 32 92 34 84  3 90 64 28 95
 95 38 36  3 95 52 52 58 31 51 12 72 25 28 31 89 36 18 18 60 98 47 75 39
 75 99 53 60 85 78 15  1 69 31 73 78 76 41 84 53 66 36 57 12 56 84 17 82
 12 99 96 80 61 80 14  2  2  7 14 50 20 49 92 31 20  5 51 33 85 15 82 43
 87 94 24 85 34 19  6 15 20 53 14 19 41 27 35 45 55 59  6 16 54 85 86 61
 93 34 71 13 83 66 42 51 52 43 16  6  5 84  5 23  7  3 17 55 17 90 29 42
 11 39 46 85 62 24 15  8 39 70 65 15 16 70 65 18 96 22 20  6 63 75 93 34
 14 20 25 98 93  5 70 71 75 61 32 49 19 97 16  4  1 16 57 41 43 43 23 33
 13 56 15 27 96 80 34 88 29 93 99 99 99 54 75 11 73 62 67 59 57 97 65 94
 12 28 67 99 83 58 83 26 68 66 17 54 77 68 71  7 13 10 65 80  1 33 63 56
 38 89 91 35 71 84 64 48 25  6 19 52 14 39 41  7 94 79 38 24 97 57 64 43
 46 82 79 22 91 55 51 68 26  1 95 10 10 61 86 27 77  8 50 26 26 30 86 65
 91 70 75 39 19 29 95 61 70 88 47 62 87  0 86 61 79  3 18 26  4 24 40 46
  0  0 44 61 60 80 98 23 91 76 10 60 42 60  9 13  7 41 57 66 56 35 42 40
 26 99 17 42 66 52 72 20 50 89 10  4 32 12 86 43 49 33 75 40 49 80 67 91
  4 47 78 75 56 46 59 28 68 38 12 52 14 49 44 63]

In [68]:
print(np.mean(data))
print(np.median(data))
print(stats.mode(data).mode)

48.591
49.0
75

In [69]:

dataset = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
})

print(dataset)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eve   45   90000

In [70]:
iris.to_csv('iris_dataset.csv', index=False)

In [71]:
iris = pd.read_csv('iris_dataset.csv')
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

In [72]:
filtered_iris = iris[iris['sepal_length'] > 5.0]
print("Filtered Iris Dataset:")
print(filtered_iris)

sorted_iris = iris.sort_values(by='petal_width', ascending=False)
print("\nSorted Iris Dataset:")
print(sorted_iris)

iris['petal_area'] = iris['petal_length'] * iris['petal_width']
print("\nUpdated Iris Dataset:")
print(iris)

Filtered Iris Dataset:
     sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     petal_area
0          0.28
5          0.68
10         0.30
14         0.24
15         0.60
..          ...
145       11.96
146        9.50
147       10.40
148       12.42
149        9.18

[118 rows x 6 columns]

Sorted Iris Dataset:
     sepal_length  sepal_width  petal_length  petal_width    species  \
144           6.7          3.3           5.7          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
100           6.3          3.3           6.0          2.5  virginica
114           5.8          2.8           5.1          2.4  virginica
136           6.3          3.4           5.6          2.4  virginica
..            ...          ...           ...          ...        ...
13            4.3          3.0           1.1          0.1     setosa
12            4.8          3.0           1.4          0.1     setosa
9             4.9          3.1           1.5          0.1     setosa
37            4.9          3.6           1.4          0.1     setosa
32            5.2          4.1           1.5          0.1     setosa

     petal_area
144       14.25
109       15.25
100       15.00
114       12.24
136       13.44
..          ...
13         0.11
12         0.14
9          0.15
37         0.14
32         0.15

[150 rows x 6 columns]

Updated Iris Dataset:
     sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     petal_area
0          0.28
1          0.28
2          0.26
3          0.30
4          0.28
..          ...
145       11.96
146        9.50
147       10.40
148       12.42
149        9.18

[150 rows x 6 columns]

In [73]:
from sklearn.model_selection import train_test_split

iris.fillna(iris.mean(numeric_only=True), inplace=True)

X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = iris['species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training Features Shape:")
print(X_train.shape)
print("\nTesting Features Shape:")
print(X_test.shape)

Training Features Shape:
(120, 4)

Testing Features Shape:
(30, 4)